@font-face {
  font-family: "typewriter";
  src: url(SilkRemington-SBold.ttf);
}

body{
  font-size: 16px;
  background-color: #555;
  line-height: 1.1em;
  font-family: typewriter, sans-serif;
  color: white;
	margin: 0;
	padding: 0;
}

header{
	background-color: black;

}

nav{
  text-align: center;
  background-color: black;
  padding: 20px;
}

h1{
  text-align: center;
  background-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 60%;
}

a{
  color: #fff;
  text-decoration: none;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 50%;
}

.hero{
  max-width: 100%;
  display: flex;
}

.crop{
	height: 50vh;
	with: 100%;
	background-image: url("store2.jpg");
	background-position: center;
	background-size: cover;
}

.locations{
  text-align: center;
  background-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 60%;
}

.locationicon{
  max-width: 13px;
  padding-right: 10%;
}

.staffpicks{
  background-color: #999;
}
