@font-face {
  font-family: "typewriter";
  src: url(SilkRemington-SBold.ttf);
}

body{
  font-size: 16px;
  background-color: #999;
  line-height: 1.1em;
  font-family: typewriter, sans-serif;
  color: white;
	margin: 0;
	padding: 0;
}

header{
	background-color: black;
	
}

h1{
	background-color: 
}


.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 50%;
}

.hero{
  max-width: 100%;
  display: flex;
}

.crop{
	height: 50vh;
	with: 100%;
	background-image: url("store2.jpg");
	background-position: center;
	background-size: cover;
}